{% extends 'main.html' %}
{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
<div class="main-agileinfo">
  <div class="agileits-top">
   
    <form id="target">
      <span class="name"><input class="name" type="" id="firstname" name="firstname" placeholder="Firstname" required=""></span>
      <span class="name"><input class="name" type="" id="middlename" name="middlename" placeholder="Middlename" ></span>
      <span class="name"><input class="name" type="" id="lastname" name="lastname" placeholder="Lastname"></span>
      <input class="text" type="text" id="username" name="username" placeholder="Username [alphanumeric min 6 chars]" required="" pattern="[a-zA-Z0-9_-]{6,12}" title="must be alphanumeric in 6-12 chars">
      <input class="text email" type="email" id="email" name="email" placeholder="Email" required="">
      <div id="result"></div>
      <input type="submit" value="SIGNUP">
    </form>
    <p>Have already an account? <a href="{{ url_login }}"> Login Now!</a></p>
    <p>Forgot your password? <a href="{{ url_for('registration.forgot') }}"> Click Here!</a></p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
function register(){
    $.ajax({
      url: '{{ url_api }}user/',
      type: 'POST',
      data: JSON.stringify({
        "username": $("#username").val(),
        "email": $("#email").val(),
        "first_name": $("#firstname").val(),
        "middle_name": $("#middlename").val(),
        "last_name": $("#lastname").val()
      }),
      /*
      headers: {
        "Authorization": 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NzgwNDA0MDMsImlhdCI6MTU3Nzk1Mzk5OCwic3ViIjoyfQ.aOcc8AoywBLEslHjTpUO1RD5bPXFLmcIzpMLq5HpgCI'  
      },
      */
      //dataType: 'json',
      contentType: 'application/json',
      complete: function(response) {
         console.log(response);
       
          // $( "#target" ).fadeIn(slow);
          //obj = $.parseJSON(data.responseJSON);
          //console.log(obj);
          $( "#result" ).html('');
          $( "#result" ).append('<p>Http Code: ' + response.status + '(' + response.statusText +')</p>');
          $( "#result" ).append('<p>Status: ' + response.responseJSON.status + '</p>');
          $( "#result" ).append('<p>Message: ' + response.responseJSON.message + '</p>');
          //console.log(data.responseJSON.status);
        
      }
    });

  }
$( document ).ready(function() {
  $( "#target" ).submit(function( event ) {
    //alert( "Handler for .submit() called." );
    console.log('clicked {{ url_api }}' );
    register();
    event.preventDefault();
  });
});
</script>

{% endblock %}